<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
</head>
<body>
    <style>
    .tabtop13 {
        margin-top: 13px;
    }
    .tabtop13 td{
        background-color:#ffffff;
        height:25px;
        line-height:150%;
    }
    .font-center{ text-align:center}
    .btbg{background:#e9faff !important;}
    .btbg1{background:#f2fbfe !important;}
    .btbg2{background:#f3f3f3 !important;}
    .biaoti{
        font-family: 微软雅黑;
        font-size: 26px;
        font-weight: bold;
        border-bottom:1px dashed #CCCCCC;
        color: #255e95;
    }
    .titfont {
        
        font-family: 微软雅黑;
        font-size: 16px;
        font-weight: bold;
        color: #255e95;
        background: url(../images/ico3.gif) no-repeat 15px center;
        background-color:#e9faff;
    }
    .tabtxt2 {
        font-family: 微软雅黑;
        font-size: 14px;
        font-weight: bold;
        text-align: right;
        padding-right: 10px;
        color:#327cd1;
    }
    .tabtxt3 {
        font-family: 微软雅黑;
        font-size: 14px;
        padding-left: 15px;
        color: #000;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 20px;
    }
    select {
        /* styling */
        background-color: white;
        border: thin solid blue;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;

        /* reset */

        margin: 0;      
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    select.classic {
        background-image:
            linear-gradient(45deg, transparent 50%, blue 50%),
            linear-gradient(135deg, blue 50%, transparent 50%),
            linear-gradient(to right, skyblue, skyblue);
        background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            100% 0;
        background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
        background-repeat: no-repeat;
    }
    .btn2 {
        border:2px solid skyblue;
        background:white;
        color:rgb(29, 173, 230);
        padding:5px 70px;
        font-size:20px;
        font-weight:bold;
    }
    .card {
        display: inline-block;
        margin: 1px;
        background: rgb(209, 202, 202);
        padding: 1px;
        min-width: 150px;
        box-shadow: 0 3px 5px rgb(209, 202, 202);
        color: rgb(209, 202, 202);
    }
    </style>
    <form>
        主机名：
        <select id="hostnameselect" name="aaa" class="classic selector1" style="width:8%"></select>
        &nbsp;&nbsp;&nbsp;执行类型：
        <select id="exectypeselect" class="classic selector2" style="width:8%"></select>
        &nbsp;&nbsp;&nbsp;qubit数量：
        <select id="qubitselect" class="classic selector3" style="width:8%"></select>
        &nbsp;&nbsp;&nbsp;接口名：
        <select id="internameselect" class="classic selector4" style="width:8%"></select>
        &nbsp;&nbsp;&nbsp;耗时：
        <select id="elapsedselect" class="classic selector5" style="width:8%"></select>
        &nbsp;&nbsp;&nbsp;错误码：
        <select id="codeselect" class="classic selector6" style="width:8%"></select>
        &nbsp;&nbsp;&nbsp;最近N天：
        <select id="recentselect" class="classic selector7" style="width:8%"></select>
        &nbsp;&nbsp;&nbsp;
        <button id="query" class="btn2" onclick="show()">查询</button>
    </form>
    <br>
    <p>
        当前主机信息：<select id="selectedhostinfo" style="border: 0;width:90%"></select>
        <!-- 主机名：<input id="currenthostname" type="text" style="border: 0;font-size:18px;" value="currenthostname" ></input>
        CPU核数：<input id="currentcpucore" type="text" style="border: 0;font-size:18px;" value="currenthostname" ></input>
        总内存：<input id="currenttotalmem" type="text" style="border: 0;font-size:18px;" value="currenthostname" ></input>
        已用内存：<input id="currentusedmem" type="text" style="border: 0;font-size:18px;" value="currenthostname" ></input>
        显卡类型：<input id="currentdisplaytype" type="text" style="border: 0;font-size:18px;" value="currenthostname" ></input>
        总显存：<input id="currenttotaldisplaymem" type="text" style="border: 0;font-size:18px;" value="currenthostname" ></input>
        已用显存：<input id="currentuseddisplaymem" type="text" style="border: 0;font-size:18px;" value="currenthostname" ></input> -->
    </p>
    <table id="headtab" width="96.5%" border="0" cellspacing="1" cellpadding="4" bgcolor="#cccccc" class="tabtop13" align="left"></table>
    <p><div id="count" class="card" style="background-color: rgb(248, 245, 245);float:left;width:32%;height:600px"></div></p>
    <p><div id="elapsed" class="card" style="background-color: rgb(248, 245, 245);float:left;width:32%;height:600px"></div></p>
    <p><div id="code" class="card" style="background-color: rgb(248, 245, 245);float:left;width:32%;height:600px"></div></p>
    <br><br><br>
    <p><div id="task" class="card" style="background-color: rgb(248, 245, 245);float:left;width:32%;height:600px"></div></p>
    <p><div id="curr" class="card" style="background-color: rgb(248, 245, 245);float:left;width:32%;height:600px"></div></p>
    <p><div id="status" class="card" style="background-color: rgb(248, 245, 245);float:left;width:32%;height:600px"></div></p>
    <br><br><br>
    <script>
        $(
            function () {
                selectorfun();
            }
        );
        function selectorfun() {
            var selecttag = displaytag();
            var lastselecttag = readData()
            if (lastselecttag != null && lastselecttag.hostname != "")
            {
                $(".selector1").val(lastselecttag.hostname);
                $(".selector2").val(lastselecttag.exectype);
                $(".selector3").val(lastselecttag.qubit);
                $(".selector4").val(lastselecttag.intername);
                $(".selector5").val(lastselecttag.elapsed);
                $(".selector6").val(lastselecttag.code);
                $(".selector7").val(lastselecttag.recent);
                selecttag = lastselecttag;
            }
			displayhostinfo(selecttag);
            fetchDataHeadtab(selecttag);
            fetchDataCount(selecttag);
            fetchDataElapsed(selecttag);
            fetchDataTask(selecttag);
            fetchDataCode(selecttag);
            fetchDataCurr(selecttag);
            fetchDataStatus(selecttag);
        }
		function fetchDataHeadtab(selecttag) {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/demo/headtab?hostname="+selecttag.hostname+"&recent="+selecttag.recent,
                dataType: 'json',
                async: false,
                success: function (result) {
                    var str = '<tr><th width="20%" class="btbg font-center titfont">主机</th>';
                    str += '<th width="20%" class="btbg font-center titfont">CPU数量</th>';
                    str += '<th width="20%" class="btbg font-center titfont">内存</th>';
                    str += '<th width="20%" class="btbg font-center titfont">GPU类型</th>';
                    str += '<th width="20%" class="btbg font-center titfont">GPU内存</th></tr>';
                    for (var i=0;i<result.data.length;i++)
                    {
                        str += '<tr><td>'+result.data[i]["hostName"]+'</td>';
                        str += '<td>'+result.data[i]["allCpuNum"].toString()+'</td>';
                        str += '<td>'+result.data[i]["allMemory"].toString()+'</td>';
                        str += '<td>'+result.data[i]["gpuType"].toString()+'</td>';
                        str += '<td>'+result.data[i]["allGpuMemory"].toString()+'</td></tr>';
                    }
                    document.getElementById('headtab').innerHTML = str;
                }
            });
        }
		function fetchDataCount(selecttag) {
            var chartcount = echarts.init(document.getElementById('count'));
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/demo/count?hostname="+selecttag.hostname+"&exectype="+selecttag.exectype+"&qubit="+selecttag.qubit+"&intername="+selecttag.intername+"&recent="+selecttag.recent,
                dataType: 'json',
                success: function (result) {
                    chartcount.setOption(result.data);
                }
            });
        }
        function fetchDataElapsed(selecttag) {
            var chartelapsed = echarts.init(document.getElementById('elapsed'));
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/demo/elapsed?hostname="+selecttag.hostname+"&exectype="+selecttag.exectype+"&qubit="+selecttag.qubit+"&intername="+selecttag.intername+"&elapsed="+selecttag.elapsed+"&recent="+selecttag.recent,
                dataType: 'json',
                success: function (result) {
                    chartelapsed.setOption(result.data);
                }
            });
        }
        function fetchDataTask(selecttag) {
            var charttask = echarts.init(document.getElementById('task'));
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/demo/task?hostname="+selecttag.hostname+"&exectype="+selecttag.exectype+"&qubit="+selecttag.qubit+"&recent="+selecttag.recent,
                dataType: 'json',
                success: function (result) {
                    charttask.setOption(result.data);
                }
            });
        }
        function fetchDataCode(selecttag) {
            var chartcode = echarts.init(document.getElementById('code'));
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/demo/code?hostname="+selecttag.hostname+"&exectype="+selecttag.exectype+"&qubit="+selecttag.qubit+"&intername="+selecttag.intername+"&code="+selecttag.code+"&recent="+selecttag.recent,
                dataType: 'json',
                success: function (result) {
                    chartcode.setOption(result.data);
                }
            });
        }
        function fetchDataCurr(selecttag) {
            var chartcurr = echarts.init(document.getElementById('curr'));
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/demo/curr?hostname="+selecttag.hostname+"&exectype="+selecttag.exectype+"&qubit="+selecttag.qubit+"&recent="+selecttag.recent,
                dataType: 'json',
                success: function (result) {
                    chartcurr.setOption(result.data);
                }
            });
        }
        function fetchDataStatus(selecttag) {
            var chartstatus= echarts.init(document.getElementById('status'));
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/demo/status?hostname="+selecttag.hostname+"&recent="+selecttag.recent,
                dataType: 'json',
                success: function (result) {
                    chartstatus.setOption(result.data);
                }
            });
        }
        function saveData(selecttag) {
            localStorage.setItem('selecttag', JSON.stringify(selecttag));
        }
        function readData() {
            let selecttagtemp = localStorage.getItem('selecttag');
            let selecttag = JSON.parse(selecttagtemp);
            return selecttag;
        }
        function deleteData() {
            localStorage.removeItem('selecttag');
        }
        function deleteAllData() {
            localStorage.clear();
        }
        function show() {
            var hostnameobj = document.getElementById("hostnameselect");
            var hostnameindex = hostnameobj.selectedIndex;
            var hostname = hostnameobj.options[hostnameindex].text;

            var exectypeobj = document.getElementById("exectypeselect");
            var exectypeindex = exectypeobj.selectedIndex;
            var exectype = exectypeobj.options[exectypeindex].text;

            var qubitobj = document.getElementById("qubitselect");
            var qubitindex = qubitobj.selectedIndex;
            var qubit = qubitobj.options[qubitindex].text;

            var internameobj = document.getElementById("internameselect");
            var internameindex = internameobj.selectedIndex;
            var intername = internameobj.options[internameindex].text;

            var elapsedobj = document.getElementById("elapsedselect");
            var elapsedindex = elapsedobj.selectedIndex;
            var elapsed = elapsedobj.options[elapsedindex].text;

            var codeobj = document.getElementById("codeselect");
            var codeindex = codeobj.selectedIndex;
            var code = codeobj.options[codeindex].text;

            var recentobj = document.getElementById("recentselect");
            var recentindex = recentobj.selectedIndex;
            var recent = recentobj.options[recentindex].text; 

            var selecttag = {
                'hostname': hostname, 
                'exectype': exectype, 
                'qubit': qubit, 
                'intername': intername, 
                'elapsed': elapsed, 
                'code': code, 
                'recent': recent
            };
            saveData(selecttag);
        }
        
        function displaytag(){
            var hostname = "";
            var exectype = 0;
            var qubit = 0;
            var intername = "";
            var elapsed = 0;
            var code = 0;
            var recent = 0;
            var hostnameobj = document.getElementById("hostnameselect");
            var exectypeobj = document.getElementById("exectypeselect");
            var qubitobj = document.getElementById("qubitselect");
            var internameobj = document.getElementById("internameselect");
            var elapsedobj = document.getElementById("elapsedselect");
            var codeobj = document.getElementById("codeselect");
            var recentobj = document.getElementById("recentselect");

            hostnameobj.options.add(new Option('All', 'All'));
            exectypeobj.options.add(new Option('All', 'All'));
            qubitobj.options.add(new Option('All', 'All'));
            internameobj.options.add(new Option('All', 'All'));
            elapsedobj.options.add(new Option('All', 'All'));
            codeobj.options.add(new Option('All', 'All'));

            for (var i=7;i>=0;i--)
            { 
                recentobj.options.add(new Option(i, i));
                if (i == 7)
                {
                    recent = i;
                }
            }
            $.ajax({
                type: "GET",
                async: false,
                url: "http://127.0.0.1:8000/demo/tag",
                dataType: 'json',
                success: function (result) {
                    for (var i=0;i<result.data[0].length;i++)
                    { 
                        hostnameobj.options.add(new Option(result.data[0][i], result.data[0][i]));
                        if (i == 0)
                        {
                            hostname = result.data[0][i];
                        }
                    }
                    for (var i=0;i<result.data[1].length;i++)
                    { 
                        exectypeobj.options.add(new Option(result.data[1][i], result.data[1][i]));
                        if (i == 0)
                        {
                            exectype = result.data[1][i];
                        }
                    }
                    for (var i=0;i<result.data[2].length;i++)
                    { 
                        qubitobj.options.add(new Option(result.data[2][i], result.data[2][i]));
                        if (i == 0)
                        {
                            qubit = result.data[2][i];
                        }
                    }
                    for (var i=0;i<result.data[3].length;i++)
                    { 
                        internameobj.options.add(new Option(result.data[3][i], result.data[3][i]));
                        if (i == 0)
                        {
                            intername = result.data[3][i];
                        }
                    }
                    for (var i=0;i<result.data[4].length;i++)
                    { 
                        elapsedobj.options.add(new Option(result.data[4][i], result.data[4][i]));
                        if (i == 0)
                        {
                            elapsed = result.data[4][i];
                        }
                    }
                    for (var i=0;i<result.data[5].length;i++)
                    { 
                        codeobj.options.add(new Option(result.data[5][i], result.data[5][i]));
                        if (i == 0)
                        {
                            code = result.data[5][i];
                        }
                    }
                }
            });
            return {
                'hostname': hostname, 
                'exectype': exectype, 
                'qubit': qubit, 
                'intername': intername, 
                'elapsed': elapsed, 
                'code': code, 
                'recent': recent
            };
        }

        function displayhostinfo(selecttag){
            var hostinfoobj = document.getElementById("selectedhostinfo");
            $.ajax({
                type: "GET",
                async: false,
                url: "http://127.0.0.1:8000/demo/hostinfo?hostname="+selecttag.hostname,
                dataType: 'json',
                success: function (result) {
                    for (var i=0;i<result.data[i].length;i++)
                    {
                        //主机名(host)_cpu核数(2)_总内存(64G)_显卡类型(1)_总显存(64G)
                        var hostinfo = "主机名(" + result.data[i][0] + ")_cpu核数(" + result.data[i][1] + ")_总内存(" + bytestohuman(result.data[i][2]) + ")_显卡类型(" + result.data[i][3] + ")_总显存(" + bytestohuman(result.data[i][4]) + ")";
                        hostinfoobj.options.add(new Option(hostinfo, hostinfo));
                    }
                }
            });
        }

        function bytestohuman(bytes){
            if (bytes <= 0)
                return bytes;

            if (bytes >= 1024 * 1024 && bytes < 1024 * 1024 * 1024)
                bytes = Math.round(bytes / 1024 / 1024, 2) + ' MB';
            else if (bytes >= 1024 * 1024 * 1024 && bytes < 1024 * 1024 * 1024 * 1024)
                bytes = Math.round(bytes / 1024 / 1024 / 1024, 2) + ' GB';

            return bytes
        }
    </script>
</body>
</html>